body {
	min-width: 750px;
	margin: 0;
	padding: 0;
	font-family: "黑体";
	font-size: 14px;
	background-color: #DEDEDE;
}

.qwer {
	text-align: center;
}

.header {
	height: 80px;
	width: 100%;
	background-color: #333333;
	vertical-align: middle;
	display: table;
}

.header span {
	vertical-align: middle;
	display: table-cell;
	height: 70px;
}

.header span img {
	margin-left: 95px;
	cursor: pointer;
}

nav ul {
	float: right;
	margin: 0;
	padding: 0;
}

nav ul li {
	float: left;
	margin: 15px;
	line-height: 70px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover {
	color: gray;
}

aside {
	float: right;
	width: 350px;
	background-color: #fff;
	margin-top: 40px;
	margin-right: 20px;
	margin-left: 20px;
	padding: 20px;
	box-shadow: 2px 2px 2px #848484;
}

.pb {
	margin-left: 15px;
	margin-bottom: 10px;
}

.rmand {
	color: #ccc;
	margin-left: 125px;
	font-size: 13px;
	margin-bottom: 5px;
}

.suo {
	text-indent: 5em;
	display: inline-block;
	margin-top: 20px;
}

.suo1 {
	text-indent: 3em;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}

textarea {
	margin-top: 10px;
	width: 60%;
	height: 100px;
	margin-left: 3px;
}

input {
	cursor: pointer;
}

input[type='submit'] {
	width: 100%;
	height: 40px;
	background: #3355D0;
	color: #fff;
	cursor: pointer;
	border-radius: 8px;
	border: 1px solid #3355D0;
	margin-top: 10px;
	font-size: 20px;
}

article {
	background-color: #fff;
	box-shadow: 2px 2px 2px #848484;
	margin-left: 50px;
	margin-top: 40px;
	margin-right: 450px;
	padding: 20px;
}

.er_title {
	color: #484242;
}

.ziti {
	font-size: 20px;
	text-indent: 2em;
}
.ziti1 {
	font-size: 20px;
}

.mo {
	color: blue;
}

.oll {
	list-style: none;
	font-size: 20px;
}
.conta{
	display: inline-block;
	cursor: pointer;
	height: 400px;
	border: 1px solid #000;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 15px;
}
.pou{
	height: 350px;
	width: 200px;
}
.distance{
	margin-bottom: 20px;
	font-size: 20px;
	text-align: center;
}
.table_width{
	width: 800px;
}
.tr_color{
	background-color: #ccc;
	padding: 0; 
}
.th_left{
	margin-left: 5px;
}
footer {
	width: 100%;
	height: 60px;
	text-align: center;
	background: #000;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	line-height: 60px;
}

.name {
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}