body {
	background-color: #44565C;
	color: #767777;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	margin: 0 auto;
}

* {
	margin: 0;
	padding: 0;
}

.container {
	width: 892px;
	height: 1386px;
	margin: 0 auto;
	background-color: #fff;
	padding: 0 44px;
}

header .ife_url {
	width: 110px;
	height: 61px;
	background-color: #db3e75;
	position: relative;
}

header .ife_url p {
	color: #fff;
	position: absolute;
	margin-left: 4px;
	bottom: 2px;
}

header {
	margin-bottom: 30px;
	position: relative;
}

header .date {
	color: #d45d5c;
	font-family: "SimHei";
	position: absolute;
	right: 0px;
	bottom: 5px;
}

.underline_one {
	border: 2px #938e8c solid;
	margin-top: 0;
}

.one {
	position: relative;
	margin-bottom: 40px;
}

.one_left .one_left_area {
	width: 641px;
	height: 301px;
}

.one_left .one_left_left {
	position: absolute;
	top: 0;
	width: 191px;
	height: 301px;
	opacity: 0.5;
	background-color: #555;
}

.one_left .one_left_right {
	position: absolute;
	top: 0;
	right: 252px;
	width: 191px;
	height: 301px;
	opacity: 0.5;
	background-color: #83F;
}

.one_right {
	position: absolute;
	right: 0;
	top: 0;
	width: 203px;
}

.one_right hr {
	border: 2px solid #cc8091;
}

.one_right h2 {
	color: #000;
	font-family: 'Microsoft YaHei';
	text-decoration: underline;
}

.one_right>p {
	font-family: 'STKaiti';
	color: #676767;
	margin-bottom: 10px;
}

.one_right .num {
	font-family: '微软雅黑';
	position: absolute;
	font-size: 116px;
	color: #75b86b;
	top: 100px;
}

.right_final {
	position: relative;
	font-family: "微软雅黑";
}

.right_final .flag1 {
	font-size: 55px;
	color: #cc8091;
	top: 150px;
	position: absolute;
}

.right_final .flag2 {
	color: #cc8091;
	position: absolute;
	top: 170px;
	font-size: 21px;
	right: 90px;
}

.right_final .flag3 {
	color: #cc8091;
	font-size: 12px;
	top: 195px;
	right: 40px;
	position: absolute;
}

.two {
	width: 641px;
	margin: 0 0 270px 0;
	background-color: #000;
}

.two div {
	float: left;
	margin-right: 30px;
	margin-bottom: 20px;
}

.two h1 {
	margin-bottom: 10px;
}

.two .two_left {
	width: 220px;
}

.two .two_mid {
	width: 190px;
}

.title_one {
	font-size: 16px;
	font-family: "微软雅黑";
	color: #418759;
	text-decoration: underline;
}

.title_two {
	font-size: 16px;
	font-family: "微软雅黑";
	color: #d2994f;
	text-decoration: underline;
}

.title_three {
	font-size: 16px;
	font-family: "微软雅黑";
	color: #cc7680;
	text-decoration: underline;
}

.two_right_bottom {
	margin-top: 30px;
}

.two_right_bottom p span {
	font-size: 12px;
	opacity: 70%;
	font-style: italic;
	color: #cd4a48;
}

.two_right_bottom p {
	color: #231815;
	opacity: 70%;
	margin-bottom: 16px;
}

.art {
	clear: both;
}

.art .art_left {
	width: 415px;
	float: left;
	margin-bottom: 30px;
}

.art_left_top .art_left_top_one {
	font-size: 72px;
	color: #f5e327;
	font-family: "黑体";
	font-style: italic;
	font-weight: bold;
}

.art_left_top .art_left_top_one span {
	font-size: 42px;
	color: #11456b;
	font-family: "黑体";
	margin-left: 25px;
	font-weight: bold;
	font-style: normal;
}

.art_left_top .art_left_top_two {
	font-size: 42px;
	color: #11456b;
	font-family: "黑体";
	font-weight: bold;
}

.art_left hr {
	border: 2px solid green;
	margin-bottom: 20px;
	width: 415px;
}

.art_left_bottom p span {
	font-size: 70px;
	color: #f5e327;
	float: left;
	padding: 20px 10px 30px 0;
}

.art_left_bottom P {
	line-height: 16px;
}

.suojin {
	text-indent: 2em;
}

.img_two {
	float: right;
	padding: 15px;
	width: 226px;
	height: 300px;
}

.art_right {
	float: right;
	width: 458px;
	height: 630px;
}

.wangtao_size {
	width: 458px;
	height: 275px;
}

.atr_right_bottom {
	width: 459px;
	height: 318px;
	background-color: gray;
	margin-top: 80px;
}

.safe {
	position: relative;
}

.yeah {
	position: absolute;
	background-color: #DEb;
	opacity: 0.3;
	bottom: 0;
	width: 458px;
	height: 61px;
}

.shuxian {
	height: 44px;
	width: 3px;
	background-color: #72b16a;
	bottom: 8px;
	left: 40px;
	position: absolute;
}

.zi1 {
	font-size: 26px;
	position: absolute;
	font-style: "微软雅黑";
	color: #fff;
	bottom: 12px;
	left: 60px;
}

.zi2 {
	font-size: 12px;
	position: absolute;
	font-style: "微软雅黑";
	color: #fff;
	bottom: 12px;
	left: 170px;
	letter-spacing: 1.4px;
	background-color: #72b16a;
}