body {
	background-color: #44565C;
	color: #767777;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	margin: 0 auto;
}

* {
	margin: 0;
	padding: 0;
}

.container {
	width: 892px;
	height: 1386px;
	margin: 0 auto;
	background-color: #fff;
	padding: 0 44px;
}

header .ife_url {
	width: 110px;
	height: 61px;
	background-color: #db3e75;
	position: relative;
}

header .ife_url p {
	color: #fff;
	position: absolute;
	margin-left: 4px;
	bottom: 2px;
}

header {
	margin-bottom: 30px;
	position: relative;
}

header .date {
	color: #d45d5c;
	font-family: "SimHei";
	position: absolute;
	right: 0px;
	bottom: 5px;
}

.underline_one {
	border: 2px #938e8c solid;
	margin-top: 0;
}
.one{
	position: relative;
}
.one_left .one_left_area{
    width: 641px;
    height: 301px;
}
.one_right{
   position: absolute;
   right: 0;
   top: 0;
   width: 203px;
}
.one_right hr{
	border: 2px solid #cc8091;
}
.one_right h2{
  color: #000;
 font-family:'Microsoft YaHei';
 text-decoration:underline;
}
.one_right>p{
	font-family: 'STKaiti';
	color: #676767;
	margin-bottom: 10px;
}
.one_right .num{
	font-family: '微软雅黑';
	position: absolute;
    font-size: 116px;
    color: #75b86b;
    top:100px;
}
.right_final{
	position: relative;
	font-family: "微软雅黑";
}
.right_final .flag1{
  font-size: 55px;
  	color: #cc8091;
  	top: 150px;
  	position: absolute;
}
.right_final .flag2{
		color: #cc8091;
		position: absolute;
		top: 170px;
		font-size: 21px;
		right: 90px;
}

.right_final .flag3{
		color: #cc8091;
		font-size: 12px;
		top: 195px;
		right: 40px;
		position: absolute;
}

